# Test profile should use PostgreSQL as well.
spring.datasource.url=${TEST_DB_URL:jdbc:postgresql://localhost:5432/auth_service_db}
spring.datasource.username=${DB_USERNAME:postgres}
spring.datasource.password=${DB_PASSWORD:change-me}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.sql.init.mode=always
spring.sql.init.continue-on-error=true

